/*重置格式*/
			
			*{
				list-style: none;
			}

	       html{
	       	  color: #333;
	       }
	       body{
	       	  margin: 0;
	       }
	       ul,i,p{
	       	  margin: 0;
	       	  list-style: none;
	       	  padding: 0;
	       }
	       .top{
	       	background-color: #333;
	       	color: #ededed;
	       }
	       /*设置a标签*/
	       a{
	       	   color: #ededed;
	       	   text-decoration-line: none;
	       }
	       .wrapper{
	       	   width: 1200px;
	       	   margin: 0 auto;
	       }
	       /*浮动*/
	       .top .left{
	       	   float: left;
	       }
	       .top .right{
	       	float: right;
	       }
	       .top .right>ul>li{
	       	float: left;
	       	position: relative;
	       }
	       /*设置伪元素*/
	     .top > .wrapper::after {
			display: block;
			content: "";
			clear: both;
		}
		.yop .right>ul::after{
			display: block;
			content: "";
			clear: both;
		}
		.top .right>ul>li>a{
			padding: 0 1em;
			border-right: 1px solid #ededed;
		}
		/*设置行高*/
		.top .wrapper{
			line-height: 3em;
		}
		.top .right>ul>li:last-child >a{
			border-right: none;
		}
		/*设置企业采购二级标题*/
		.top .right>ul>li>div>div:last-child{
			line-height: 35px;
			font-size: 12px;
			width: 96.667px;
			height: 105px;
			background-color: #fff;
			color: #333;
			text-align: center;
			border-radius:5px;
			position: absolute;
			top: 48px;
		}
		.top .right>ul>li>div ul>li{
			border-bottom: 1px solid #ededed;
		}
		.top .right>ul>li>div>div:first-child{
			/*z-index: 10px;*/
			background-color: #fff;
			width: 10px;
			height: 10px;
			position: absolute;
			bottom: -5px;
			left: 50%;
			margin-left: -5px;
			transform: rotate(45deg);
			box-shadow: 5px 5px 10px #ededed;
		}
        .top .right>ul>li>div{
        	display: none;
        }
        .top .right>ul>li:hover>div{
        	display: block;
        }
		/*顶端设置结束*/
		/*头部*/
		.header{ 
			
			background-color: white;
			color: #333;
		}
		.header .left{
			width: 163px;
			height: 120px;
			float: left;
		}
		.header .right{
			margin-left: 360px;
			width: 860px;
			height:120px;
			line-height: 3em;
		}
		.header .serach{
			padding: 30px
		}
		.header .serach input{
			width: 380px;
			border:none;
		}
		.header .serach>li{
			float: left;
			line-height: 3em
		}
		.header .serach>li:first-child{
			border-top-left-radius: 1.5em;
			border-bottom-left-radius: 1.5em;
			width: 530px;
			border:1px solid #b4a078;
		}
		.header .serach>li:nth-child(2){
			width: 80px;
			color: #ededed;
			background-color: #b4a078;
			font-size: 16px;
			text-align: center;
			border-top-right-radius: 1.5em;
			border-bottom-right-radius: 1.5em;
			border: 1px solid #b4a078;
		}
		/*购物车*/
		.header .serach>li:last-child{
			float: right;
			width: 135px;
			text-align: center;
			border-radius: 1.5em;
			border:1px solid #b4a078;
			color: #b4a078;
		}
		/*导航栏*/
		.nav {
			position: sticky;
			top: 0;
			height: 40px;
			background-color: #fff;
			line-height: 40px;
		}
		.nav .wrapper{
			position: relative;
		}
		.nav ul>li{
			float: left;
			margin-right: 50px;
			font-weight: bold;
		}
		.nav ul::after{
			display: block;
			content: "";
			clear: both;
		}
		.nav ul>li:nth-child(9){
			margin-right: 0;
			padding-right: 25px;
			border-right:2px solid #ededed;
		}
		.nav ul>li:nth-child(10){
			margin-left: 25px;
			border-right:1px bold #ededed;
		}
		.nav ul>li>div:last-child{
			position: absolute;
			left: -10px;
			top: 42px;
			width: 1200px;
			height: 550px;
			background-color: #ffffff;
			font-weight: normal;
			border-top: 1px solid #ededed;
			display: none;
		}
		.nav ul>li:first-child>div:last-child,
		.nav ul>li:last-child>div:last-child,
		.nav ul>li:nth-child(10)>div:last-child
		{
			width: 0;

		}
		.nav ul>li:hover>div:last-child,
		.nav ul>li:hover>div:first-child
		{
			border-bottom: 4px solid #b4a078;
			display: block;
		}
		/*广告栏*/
		.pic{
			text-align: center;
			width: 100%;
			margin-top: 5px;
		}
		.content{
			position: relative;
		}
		/*左侧*/
		.leftside{
			width: 100px;
			height: 0;
			float: left;
			position: sticky;
			top: 100px;
			background-color: pink;
			color: red;
			line-height:3em; 
			text-align: center;
		}
		.leftside>ul>li{
			border-bottom: 1px solid #ededed;
			background-color: pink;
		}
		.leftside>ul>li>div:last-child{
			position: absolute;
			top: 0;
			left: 100px;
			width: 100px;
			height: 244px;
			background-color:#ededed; 
			display: none;
		}
		.leftside>ul>li:hover>div:last-child{
			display: block;
		}
		/*品牌制造商*/
		.made{
			font-size: 16px;
			height: 400px;
		}
		.made a{
			font-size: 50px;
			color: #333;
		}
		.made .pro>ul>li{
			width: 380px;
			height: 320px;
			background-color: #f8fcfc;
			float: left;
			margin-right: 30px;
			margin-bottom: 30px;
		}
		.made .pro>ul{
			display: block;
			content: "";
			clear: both;
		}
		.made .pro>ul>li:nth-child(3){
			width: 380px;
			height: 145px;
			margin-right: 0;	
		}
		.made .pro>ul>li:last-child{
			width: 380px;
			height: 145px;
			margin-right: 0;
			background-color: #fdfbfa;
		}
		.made .pic{
			overflow: hidden;
		}
		.made .pic>img{
			width: 100%;
			transition-property: transform;
			transition-duration: 1s;
			transition-timing-function: linear;
		}
		.made .pro>ul>li:hover img{
			transform:scale(1.1);
		}
		/*新品推荐*/
		.new{
			font-size: 16px;
		}
		.new a{
			font-size: 50px;
			color: #333;
		}
		.new .pro>ul>li{
			width: 277.5px;
			height: 415px;
			background-color: #f8fcfc;
			float: left;
			margin-right: 30px;
			margin-bottom: 30px;
			text-align: center;
		}
		.new .pro>ul{
			display: block;
			content: "";
			clear: both;
		}
		.new .pro>ul>li:last-child{
			margin-right: 0;		
		}		
		.new .det>p{
			padding: 5px 0;
		}
		.new .det>p:first-child{
			background-color: #e36844;
			color: #ededed;
			margin: 0 5.5em;
		}
		.new .det>p a{
			font-weight: bold;
			font-size: 16px;
		}
		.new .det>p:last-child{
			color: red;
		}
		.new .det i{
			text-decoration-line: line-through;
			color: #a699a6;
		 font-size: 12px;
		}
		.new .wrapper{
			height: 500px;
		}
		/*人气推荐*/
		.renqi{
		    background-color:  #f4f0ea;
		}
		.renqi .wrapper{
		      height: 600px;
		}
		.renqi ul>li{
			float: left;
			background-color: #ffffff;
			margin-right: 10px;
			margin-bottom:10px;
		}
		.renqi ul>li:first-child{
			width: 468px;
			height: 570px;
		}
		.renqi ul>li:nth-child(4),
		.renqi ul>li:nth-child(7){
			margin-right: 0;
		}
		.renqi ul>.first~*{
			width: 234px;
			height: 280px;
		}
		.renqi ul::after{
			display: block;
			content: "";
			clear: both;
		}
		.renqi .pic{
			height: 70%;
			border-bottom: 1px solid #ededed; 
		}
		.renqi .first .det{
			line-height: 2.7em;
			text-align: center;
		}
		.renqi .first~* .det{
			line-height: 1.5em;
			text-align: center;
		}
		.renqi .det>p:first-child{
			width: 80px;
			color: #f2e2ff;
			background-color: #e36844;
			margin: 0 auto;
		}
		.renqi .det>p:first-child{
			width: 80px;
			color: #f2e2ff;
			background-color: #e36844;
			margin: 0 auto;
		}
		.renqi .dandu{
			width: 80px;
			height: 24px;
			color: #f2e2ff;
			background-color: #ffffff;
		}
		